* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0px;
  position: absolute;
  min-width: 1150px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.search-form {
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  position: fixed;
}

.text-input {
padding: 10px;
border: none;
width: 300px;
border-radius: 3px;
outline: none;
}

.btn-input {
  border: none;
  border-radius: 3px;
  margin-left: -5px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.load-more {
  background-color: cornflowerblue;
  margin-left: 45vw;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.gallery {
  margin-top: 55px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  text-decoration: none;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
}

.photo-card{
  margin-top: 20px;

  margin-left: 20px;
  width: calc((100% - 100px) / 4);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
 
}

.info-item {
  text-align: center;
  padding: 5px 10px;
  margin: 0;
}